body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Merienda One', cursive;
    font-size: 3rem;
    
     
        background-size: cover;
        
        color: white;
        
        
        
        
    }

    header h2 {
        display: flex;
        justify-content:flex-end;
        align-content: space-between;
        margin-right:auto;
        background-color: var(--color3);
        height: var(--header-height);
        text-align:center;
        font-size: 2rem;
     

      }
  
