.Home {
  text-align: center;
  color: red;
  font-family: cursive;
  margin: 20px;
  padding: 40px;
  background: black;
  line-height: 18px;
  height: 18px;
  font-size: 60px;
  margin-top: 200px;
}

