.CocktailSearch {
  padding: 10px 20px;
  background: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.CocktailSearch input {
  width: 200px;
  height: 30px;
  /* flex-grow: 2; */
  outline: 0;
}

.CocktailSearch select {
  width: 150px;
  height: 36px;
  /* flex-grow: 1; */
}

.CocktailSearch .prompt {
  color: palegreen;
}

.CocktailSearch button {
  height: 36px;
  width: 36px;
  cursor: pointer;
}