.CocktailSearch {
  padding: 10px 20px;
  background: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.CocktailSearch input {
  width: 200px;
  height: 45px;
  outline: 0;
  background-color: black;
  color: whitesmoke;
  border: solid red 2px;
}

.CocktailSearch select {
  width: 150px;
  height: 36px;
}

.CocktailSearch .prompt {
  color: palegreen;
}

.CocktailSearch button {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.CocktailSearch h2 {
  font-size: 30px;
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
  
}