.App {
  /* not sure why you created a second assets folder??? */
  background-image: url('../assets2/Alcohol.jpeg');
  background-color: white;
  color: #777;
  font-style: normal 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

