.App {
  height: 100vh;
  display: grid;
  /* grid-template-rows: 10% 80% 10%; */
}

main {
  /* background: #FAF0EA; */
  padding-top: 105px;
  display: flex;
  justify-content: center;
  align-items: top;
  background-image: url('../assets2/barbg.jpg');
  background-repeat: repeat;
  height: 100vh;
}

