.Header {
  padding: 35px;
  display: grid;
  grid-template-columns: 50px 1fr 2fr;
  grid-gap: 20px;
  align-items: center;
  position: fixed;
  background-color: black;
  height: 30px;
  width: 100%;
  color: red;
}

.Header .logo {
  width: 3rem;
  height: 3rem;
}

.Header nav {
  justify-content: flex-start;
  align-content: flex-start;
  display: flex;
  padding-left: 175px;
}

.Header nav a {
  margin-left: 50px;
 
  background-color: tomato;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px white;
  padding: 12px 16px;
  color:rgb(24, 23, 23);
  font-weight: bold;
  border-radius: 10%;
}

.Header nav span {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-inline-start: 50px;
}

.Header nav a:hover {
  background: white;

}

.Header nav a.active {
  color:rgb(24, 23, 23);
  background-color: tomato;
}

.Header h1 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
}

