.Header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 50px 1fr 2fr;
  grid-gap: 20px;
  align-items: center;
  position: fixed;
  background-color: rgb(24, 23, 23);
  height: 30px;
  width: 100%;
  color: goldenrod
}

.Header .logo {
  width: 3rem;
  height: 3rem;
}

.Header nav {
  justify-self: end;
}

.Header nav a {
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid lightgray;
  padding: 5px 10px;;
  background: #1F4E5C;
  color: white;
  font-size: .85rem;
}

.Header nav span {
  margin-left: 10px;
  padding: 5px 10px;;
  color: #1F4E5C;
  font-size: .85rem;
}

.Header nav a:hover {
  background: #65A7AB;
}

.Header nav a.active {
  color:#1F4E5C;
  background: white;
}
