.AuthPage {
  width:400px;
  margin: auto;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  display: grid;
  border: solid blue 4px;
  text-align:center;
  background-color: black;
  border-radius: 5%;
}

.AuthPage label pan {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  
}

.AuthPage p {
  margin: 10px 0;
  margin: 20px;
  padding: 20px;
  background: black;
  line-height: 18px;
  height: 18px;
  font-size: 18px;
}

.AuthPage button.switch {
  border: 0;
  background: unset;
  text-decoration: underline;
  color: purple;
  font-size: 20px;
}

.AuthPage button.signup {
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: grid;
  margin: auto;
  font-size: 20px;
}

.AuthPage span {
  font-family: Oswald-Medium;
  font-size: 25px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
}

.AuthPage input {
  font-size: 20px;
  border-radius: 5%;
}